.con{
    background-color: wheat;
    border:1vh solid rgb(209, 189, 150);
    border-radius: 15px;
    color:rgb(107, 98, 78);
    margin: 0 auto;
    width: 50%;
    height: 75%;
    padding: 1%;
    text-align: center;
}

#rematchBid{
    display: none;
    justify-content: space-around;
}

button{
    border: 2px solid rgb(61, 61, 60);
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    color: rgb(107, 98, 78);
    font-size: 100%;
    padding: 0.5%;
    padding-left: 1.8%;
    padding-right: 1.8%;
}

button:hover{
    background-color: rgb(61, 61, 60);
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

#adatok{
    text-align: center;
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

#adatok > div >:nth-child(1){
    text-decoration: solid;
    text-decoration: underline;
}

img{
    width: 7em;
    height: 7em;
    margin: 0.5%;
}


h1{
    font-size: 2em;
}

h3{
    font-size: 1.4em;
}

.olloimg{
    width: 2%;
    height: 2%;
}

@media only screen and (max-width : 725px){
    .con{
        width: 90%;
    }

    .adatok{
        display: flex;
    }
}

@media only screen and (max-width : 410px){
    img{
        width: 4em;
        height: 4em;

    };
}


@media only screen and (max-width : 271px){
    h3{
        font-size: 1em;
    }
}