.con{
    background-color: wheat;
    border:1vh solid rgb(209, 189, 150);
    border-radius: 15px;
    color:rgb(107, 98, 78);
    margin: 0 auto;
    width: 50vh;
    height: 70vh;
    padding: 1vh;
    text-align: center;
}

#rematchBid{
    display: none;
    justify-content: space-around;
}

button{
    border: 2px solid rgb(61, 61, 60);
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    color: rgb(107, 98, 78);

    padding: 0.5vh;
    padding-left: 1.8vh;
    padding-right: 1.8vh;
}

button:hover{
    background-color: rgb(61, 61, 60);
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

#adatok{
    text-align: center;
    margin: 0 auto;
    width: 20vh;
}

#overallsc{
    display: flex;
    column-gap: 10%;
}

img{
    width: 10vh;
    height: 10vh;
    margin: 0.5vh;
}

h1{
    font-size: 2em;
}

h3{
    font-size: 1.4em;
}

.olloimg{
    width: 2vh;
    height: 2vh;
}

